<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>advertisements list</title>
</head>
<body>
    <h1>Advertisement List</h1>
    <ul>
        {% for advertisement in object_list %}
            <li>{{ advertisement.title }} - {{ advertisement.description }}</li>
        {% endfor %}
    </ul>
</body>
</html>